/* * { border: 1px solid;  */
/* } */

/*    parent    child child child */
/* container > header main footer */

/* parent */
.container {
    display:grid;
    grid-template-columns: 1fr;
    /*                     r1   r2  r3 */
    /* grid-template-rows: 25% 50% 25%; */
        /*                c1  c2  c3 */
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}

.main-content {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    /*               repeat(num of rows, size) */
    grid-template-rows: repeat(3, 1fr);
      grid-gap: 10px;
}

/*  parent  -space-  child */
.main-content .section1{
    /*       start  / end */
    grid-column: 1 / 2;
    /* grid-row: 1 / 4; */
    grid-row: 1 / span 3;
}

.main-content .section2 {
    /* grid-column: 2 / 4; */
    grid-column: 2 / span 2;
    grid-row: 1 / 2;
}

.main-content .section3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.main-content .sidebar2 {
    grid-row: 3 / 4;
}

.main-content .sidebar1 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* path to the ul we are targeting */
.container header nav ul{
    display:flex;
}
