* {
    border: 1px solid;
}

/*    parent    child child child */
/* container > header main footer */

/* parent */
.container {
    display:grid;
    grid-template-columns: 1fr;
    /*                  r1   r2  r2 */
    /* grid-template-rows: 25% 50% 25%; */
    grid-template-rows: auto 1fr auto;
}